@import "../../components/settings-header.scss";

.settings-pricing{
	background: $bg;
	padding: 35px 50px;
	margin-bottom: 10px;
	@media(max-width: $md4+px) {
		padding: 20px;
	}
	&:last-child{
		margin-bottom: 0;
	}
	h3{
		font-size: 23px;
		font-weight: bold;
		margin-bottom: 5px;
		@media(max-width: $md2+px) {
			font-size: 20px;
		}
	}
	p{
		font-size: 15px;
		opacity: 0.5;
		line-height: initial;
		@media(max-width: $md2+px) {
			font-size: 14px;
		}
	}
	&__row{
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid $border9;
	}
	&__grid{
		display: grid;
		grid-template-columns: repeat(5,350px);
		justify-content: space-between;
		grid-gap: 10px;
		align-items: flex-start;
		overflow-y: auto;
		@media(max-width: $md4+px) {
			grid-template-columns: repeat(5,315px);
		}
		&-item{
			border: 1px solid $gray3;
			border-radius: 10px;
			padding: 30px 40px;
			@media(max-width: $md4+px) {
				padding: 20px;
			}
			&:nth-child(2){
				.circle{
					border-color: $darkOrange;
				}
			}
			&:nth-child(3){
				position: relative;
				background-color: $hover;
				p{
					opacity: 1;
				}
				.button{
					color: #333;
					background: $white;
					&:hover{
						color: $hover;
					}
				}
				.points{
					i{
						color: $bg-green2;
					}
					p{
						color: $white;
					}
				}
				.circle{
					border-color: $white;
				}
				.recommended{
					position: absolute;
					top: 32px;
					right: 40px;
					color: $black2;
					background-color: $white;
					padding: 10px;
					border-radius: 10px;
					font-size: 12px;
					@media(max-width: $md4+px) {
						right: 20px;
					}
				}
			}
			&:nth-child(4){
				.circle{
					border-color: $bgYellow;
				}
			}
			&:nth-child(5){
				.circle{
					background: $gradient;
					border: none;
					position: relative;
					&:after{
						content: '';
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%,-50%);
						background: $bg;
						width: 25px;
						height: 25px;
						border-radius: 50%;
					}
				}
			}
			&.current-plan{
				.button{
					background: none;
					border: 1px solid $gray3;
					&:hover{
						color: $hover;
					}
				}
			}
			.circle{
				width: 38px;
				height: 38px;
				border: 6px solid $percentRed;
				border-radius: 50%;
				margin-bottom: 20px;
			}
			.button{
				background-color: $hover;
				font-size: 15px;
				font-weight: normal;
				width: 100%;
				height: 50px;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 20px;
				&:hover{
					color: $black3;
				}
			}
			.price{
				margin-top: 20px;
				margin-bottom: 20px;
				h2{
					font-size: 40px;
					font-weight: bold;
					margin-bottom: 5px;
				}
			}
			.points{
				p{
					opacity: 1;
					color: $gray7;
					margin-bottom: 5px;
					&:last-child{
						margin-bottom: 0;
					}
					i{
						color: $bg-green1;
						margin-right: 5px;
					}
				}
			}
		}
	}
}