body.light{
	background: #F3F3F3;
	.welcome__item-left,
	.header,
	.left-sidebar__top,
	.left-sidebar__bot,
	.live-chart .left-sidebar,
	.live-chart .chart__content,
	.bottom-sidebar,
	.bottom-sidebar__table,
	.bottom-sidebar .grid .item .title,
	.bottom-sidebar .grid .item .row-2,
	.bottom-sidebar .grid .item .row-4,
	.live-chart .chart__options .button-group-left a, .live-chart .chart__options .button-group-right a,
	.right-sidebar__links,
	.right-sidebar__buy,
	.right-sidebar__inputs,
	.right-sidebar__target,
	.selectors,
	.right-sidebar,
	.market-mood__grid-item,
	.market-mood__grid-item-one,
	.market-mood__grid-item-two,
	.dashboard__content,
	.dashboard__management,
	.dashboard__search,
	.dashboard__create,
	.dashboard__how-to,
	.dashboard__balances,
	.dashboard__balance-grid .item .title,
	.dashboard__balance-grid .item .row-2,
	.dashboard__balance-grid .item .row-4,
	.dashboard__exchange-one,
	.dashboard__exchange-two,
	.books__grid-item,
	.books__new-book,
	.books__upper-content,
	.books__table,
	.books__table .table-grid .item .title,
	.books__table .table-grid .item .row-2,
	.books__table .table-grid .item .row-4,
	.books__table .table-grid .item .row-6,
	.table-new-book,
	.positions__upper-content,
	.positions__table,
	.positions__table .table-grid .item .title,
	.positions__table .table-grid .item .row-2,
	.faq__item-title,
	.faq__grid .item,
	.faq__forum .title,
	.social__menu,
	.social__grid .item,
	.portfolio__profile,
	.feed__grid-item-content,
	.feed__grid-item-right,
	.grid-item,
	.portfolio__menu,
	.social-stats,
	.social-charts,
	.social-charts__month,
	.multi-charts__grid-left,
	.grid-right__item,
	.balance-stats,
	.balance-search,
	.porfolio-pl .dashboard__balance-table,
	.market-overview__coins,
	.market-overview .settings-header__wrapp,
	.market-grid__item,
	.market-grid__table,
	.cart-item,
	.settings-header__menu,
	.settings-security,
	.settings-pricing,
	.settings-notifications,
	.settings-notification,
	.settings-terms,
	.live-chart .chart__upper-content .pairs .pairs-search__active{
		background: $white;
		box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
		color: $text;
		a{
			color: $text;
		}
	}
	.right-sidebar__inputs .amount h2, .right-sidebar__inputs .price h2,
	.right-sidebar__target .inputs .amount h2, .right-sidebar__target .inputs .price h2,
	.settings-header__menu,
	.market-overview .settings-header__menu .fas.fa-star,
	.faq__forum .row-2,
	.positions__delete-modal{
		background: $white;
		color: $text;
		a{
			color: $text;
		}
	}
	.svg-wrapp,.icon-menu span, .icon-menu:after, .icon-menu:before,.menu-container.active .icon-menu:before,.menu-container.active .icon-menu:after{
		background-color: $text;
	}
	.market-mood__title,
	.settings-header__top-row h2,.blue-item span,.dashboard__balance-grid .social-item h1,.porfolio-pl :nth-child(3) h2:nth-child(4),.porfolio-pl :nth-child(4) h3,.balance-stats__item:nth-child(1) h3{
		color: $text !important;
	}
	.bottom-sidebar__table,.books__table,.positions__table{
		border-color: #E2E2E2;
	}
	.table{
		border: 1px solid #E2E2E2;
    tr{
        &:nth-child(even){
            background-color: #ffffff;
        }
        &:nth-child(odd){
            background-color: #EFEFEF;
        }
    }
	}
	.table-new-book{
		background-color: #EFEFEF;
	}
	.right-sidebar__target .inputs .amount input, .right-sidebar__target .inputs .price input,.right-sidebar__inputs .amount input, .right-sidebar__inputs .price input{
		margin-bottom: 0;
	}
	.welcome__inputs input, .welcome__inputs textarea,.welcome__inputs--sign-in input, .welcome__inputs--sign-in textarea,
	.right-sidebar__inputs .amount input, .right-sidebar__inputs .price input,
	.right-sidebar__target .inputs .amount input, .right-sidebar__target .inputs .price input,
	.right-sidebar .selectors .select-container select,
	.select-container select, .select-container-secret select,
	.search,
	.dashboard__connections .connection,
	.header__list,
	.header__restore,
	.header__wallet,
	.header__bell,
	.dashboard__create-input input,
	.social__menu .items-left .search,
	.social__menu .items-right .binance,
	.fa-info::before,
	.grid-left__item,
	.settings-header__search,
	.value-buttons a,
	.market-overview .settings-header__buttons a,
	.settings-security__inputs-row input,
	.right-sidebar__target .target-buttons .profit,
	.right-sidebar__target .target-buttons .loss,
	.portfolio__profile .items-right .user-check,
	.feed__grid-item-left .feedback,
	.social-stats__refresh a,
	.delete-modal__buttons a:first-child,
	.feed__grid-item-content .profile .items-right{
		background: transparent;
		border-color: $grayLight;
		color: $text;
	}
	.search,.right-sidebar__inputs .amount,
	.right-sidebar__inputs .price,
	.right-sidebar__target .inputs .amount,
	.right-sidebar__target .inputs .price{
		background: #eee;
		border: 1px solid $grayLight;
		border-radius: 10px;
	}
	.faq__forum .row-1,
	.faq__forum .row-2{
		border: none;
	}
	.right-sidebar__inputs .amount h2, .right-sidebar__inputs .price h2,.right-sidebar__target .inputs .amount h2, .right-sidebar__target .inputs .price h2,
	.faq__forum .row-1,.dashboard__exchange-two .coin p,.settings-header__search.multi-input,.settings-header__search,.slider,
	.upload,.dashboard__exchange-one .chain{
		background: #eee !important;
	}
	.settings-security__row,.user-row .settings-security__left-side,.personal-settings-wrapper,
	.settings-pricing__row,.settings-notifications__row,
	.settings-notification__row,
	.settings-terms__row,.market-mood__info-grid,
	.live-chart .left-sidebar__top .item,
	.live-chart .left-sidebar__top .links,
	.social__menu .items-left .binance,
	.social__grid .item .stats,
	.social-charts__tumb,
	.settings-pricing__grid-item{
		border-color: $grayLight;
	}
	.coin-item__right::after,.live-chart .chart__line,.live-chart .chart__upper-content .line,
	.dashboard__content .content-inner .line,.feed__line,.border-top,.decor-border{
		background-color: $grayLight;
	}
	.left-sidebar__buttons,.right-sidebar__buttons{
		background: #292b33;
	}
	.settings-pricing__grid-item,.settings-pricing__grid-item:nth-child(5) .circle:after{
		background-color: #fcfcfc;
	}
	.settings-pricing__grid-item:nth-child(3){
		background-color: #76bdff;
	}
	
	.dashboard__create-input input,.settings-header__search input,
	.settings-security__inputs-row input,
	.right-sidebar__target .inputs .amount input, .right-sidebar__target .inputs .price input{
		&::placeholder{
			color: $text;
		}
	}
	.coin-wrapper,,.welcome__button--recover,.welcome__button{
		color: #fff !important;
	}
	.search input,.positions__table .table-grid .item .row-2 i,.positions__table .table-grid .item .row-1 i,
	.portfolio__profile .items-left .info p,
	.feed__grid-item-content .profile .items-left .info .followers,
	.settings-header__search input,
	.settings-security p,
	.live-chart .chart__upper-content .pairs .pairs-search .grid h2,
	.faq__forum .row-1,
	.item3-body__left p,.item3-body__right p,
	.porfolio-pl .portfolio__grid .item3 .title-wrapper h3,
	.porfolio-pl .portfolio__grid .item2 .title-wrapper h3,
	.social-stats__title h2,
	.delete-modal__body h2,
	.social-stats__refresh .fad.fa-expand-arrows{
		color: $text;
	}

	.p-blue{
		color: #4da7b6;
	}
	
	
	.welcome__button--sign-in{
		color: $text;
		border-color: $grayLight;
	}
	.welcome__button,.welcome__button--recover,.faq__grid .item{
		&:hover{
			background: #76bdff;
			color: $text;
		}
	}
	.right-sidebar__inputs .amount{
		margin-top: 5px;
	}
	.header__logo img{
		display: none;
	}
	.header__logo .logo-white{
		display: block;
	}
	@media(max-width: 1900px) {
		.header .header__menu{
			color: #fff;
			a,.header__list,.header__restore,.header__wallet{
				color: #fff;
			}
		}
	}
}

.logo-white{
	display: none;
}