$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1110;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$bg: #25272E;
$bg2: #2F313A;
$bg3: rgba(0,0,0,0.9);
$bg4: rgba(235, 87, 87, 0.2);
$bg5: rgba(111, 207, 151, 0.2);
$gray: #929396;
$gray2: #4F4F4F;
$gray3: #3B3D43;
$gray4: #484B56;
$gray5: #494949;
$gray6: #828282;
$gray7: #929397;
$border: rgba(255, 255, 255, 0.1);
$border2: #333333;
$border3: #3B3D43;
$border4: rgba(255, 255, 255, 0.2);
$border5: rgba(255, 255, 255, 0.05);
$border6: rgba(255, 255, 255, 0.15);
$border7: rgba(0, 0, 0, 0.25);
$border8: rgba(177, 177, 177, 0.2);
$border9: rgba(#fff, 10%);
$border10: rgba(242, 242, 242, 0.1);
$percentGreen: #6FCF97;
$percentRed: #EB5757;
$hover: #76BDFF;
$hover2: #56CCF2;
$hover3: #2D9CDB;
$tableColor: #DBFAFF;
$white: #FFFFFF;
$grayLight: #BDBDBD;
$grayLight2: #828282; 
$bodyBlack: #1e2025;
$shadow: rgba(0, 0, 0, 0.25);
$black2: #1B1C21;
$black3: #333;
$black4: #12171f;
$black5: #31343D;

$dotYellow: #FBBF24;
$darkYellow: #674E02;
$dotRed: #F43F5E;
$dotBlack: #1E2025;

$text: #292B33;
$accent: orange;
$darkOrange: #806410;
$green: #7CBE3F;
$lightRed: #E17777;
$bg-green1: #6CB68B;
$bg-green2: #27AE60;
$bg-green3: #219653;
$bgYellow: #F2C94C;
$dot: #5048E5;
$gradient: linear-gradient(138.98deg, #00C2FF -58.17%, #B34CF2 93.88%);


$headerHeight: 80px;