<div class="portfolio">
    <div class="portfolio__menu portfolio__pl-menu">
        <a href="social-feed.html"><span><i class="fad fa-tachometer-alt-average"></i></span>Overview</a>
        <a href="social-portfolio.html"><span><i class="fad fa-arrows"></i></span>Positions</a>
        <a href="social-stats.html"><span><i class="fas fa-list-ul"></i></span>Open Orders</a>
        <a href="social-chart.html"><span><i class="fad fa-history"></i></span>History</a>
        <a href="social-chart.html"><span><i class="fad fa-bells"></i></span>Notification</a>
    </div>
</div>