<div class="settings-header">
	<div class="settings-header__top-row">
		<h2>Settings</h2>
		<div class="settings-header__search">
			<input type="search" placeholder="Search Coin">
			<i class="fad fa-search"></i>
		</div>
	</div>
	<div class="settings-header__menu">
		<a href="settings-personal-details.html">Personal Details</a>
		<a href="settings-security.html">Security & Password</a>
		<a href="settings-pricing.html">Plans & Pricing</a>
		<a href="settings-notifications.html">Notifications</a>
		<a href="settings-terms-conditions.html">Terms & Conditions</a>
	</div>
</div>