<div class="portfolio">
    <div class="portfolio__profile">
        <div class="items-left">
            <div class="icon">
                <img src="img/icon-4.png" alt="">
                <img class="online" src="img/online.png" alt="">
            </div>
            <div class="info">
                <h1>CRYPTOORACLE</h1>
                <p class="followers">7424 Followers</p>
                <p><span><i class="fad fa-map-marked"></i></span> United States, Fairbanks, Alaska</p>
                
            </div>
        </div>
        <div class="items-right">
            <div class="user-check">
                <i class="fad fa-user-check"></i>
            </div>
            <a href="#"><span><i class="fad fa-copy"></i></span>Copy URL</a>
        </div>
    </div>
    <div class="portfolio__menu">
        <a href="social-feed.html"><span><i class="fad fa-newspaper"></i></span>Feed</a>
        <a href="social-portfolio.html"><span><i class="fad fa-chart-bar"></i></span>Portfolio</a>
        <a href="social-stats.html"><span><i class="fad fa-chart-line"></i></span>Stats</a>
        <a href="social-chart.html"><span><i class="fad fa-chart-pie"></i></span>Chart</a>
    </div>
</div>