.dashboard {
    margin-top: 10px;
    @media (max-width: 992px) {
        
    }
    &__main-grid {
        display: grid;
        grid-template-columns: 353px 0.8fr 1fr;
        grid-gap: 10px;
        @media (max-width: 1600px) {
            grid-template-columns: 353px 1fr;
        }
        @media (max-width: 800px) {
            display: flex;
        }
    }
    &__navigation {
        position: relative;
        min-width: 353px;
        transition: 0.5s;
        z-index: 99;
        @media (max-width: 800px) {
            position: fixed;
            left: 10;
            top: 98px;
            width: 310px;
            background: $bg;
        }
        @media (max-width: 800px) {
            transform: translateX(-105%);
        }
        &__button {
            position: absolute;
            display: flex;
            align-items: center;
            top: 30px;
            right: 12px;
            border: 1px solid $border;
            box-sizing: border-box;
            border-radius: 5px;
            padding: 10px 12px;
            cursor: pointer;
            background: $text;
            z-index: 99;
            display: none;
            @media (max-width: 800px) {
                transform: translateX(200%);
            }
            @media (max-width: 800px) {
                display: block;
                &.collapsed {
                    display: none;
                }
            }
            img {
                width: 8px;
                display: flex;
            }
            .open {
                transform: rotate(180deg);
                @media (max-width: 800px) {
                    transform: rotate(0deg);
                }
            }
        }
    }
    &__navigation-active {
        transform: translateX(-105%);
        position: fixed;
        left: 10;
        top: 98px;
        width: 305px;
        transition: 0.5s;
        z-index: 99;
        overflow-y: auto;
        height: 95%;
        position: fixed;
        background: $bodyBlack;
        @media (max-width: 800px) {
            transform: translateX(0%);
            background: $bg;
        }
        &__button {
            position: absolute;
            display: flex;
            align-items: center;
            top: 30px;
            right: 12px;
            border: 1px solid $border;
            box-sizing: border-box;
            border-radius: 5px;
            padding: 10px 12px;
            cursor: pointer;
            background: $text;
            transform: translateX(200%);
            display: none;
            @media (max-width: 800px) {
                display: block;
                transform: translateX(0%);
            }
            img {
                width: 8px;
                display: flex;
            }
            .open {
                transform: rotate(0deg);
                @media (max-width: 800px) {
                    transform: rotate(180deg);
                }
            }
        }
        
    }
    &__management {
        background: $bg;
        margin-bottom: 10px;
        padding: 14px 20px;
        h1 {
            font-size: 23px;
            line-height: 27px;
            margin-bottom: 5px;
        }
        p {
            font-size: 15px;
            line-height: 18px;
            opacity: 0.5;
        }
    }
    &__search {
        background: $bg;
        padding: 14px 20px;
        p {
            font-size: 18px;
            line-height: 21px;
            opacity: 0.5;
            text-align: center;
            margin-bottom: 12px;
        }
        .search {
            background: $bg;
            border: 1px solid $border;
            box-sizing: border-box;
            border-radius: 10px;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 14px 10px;
            i {
                font-size: 14px;
            }
            input {
                background: transparent;
                font-size: 16px;
                line-height: 19px;
                color: $white;
                opacity: 0.5;
                &::placeholder {
                    opacity: 0.7;
                }
            }
        }
    }
    &__connections {
        margin-bottom: 10px;
        .connection {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid $border;
            box-sizing: border-box;
            border-radius: 10px;
            padding: 12px 10px;
            margin-bottom: 10px;
            &:last-child {
                margin: 0;
            }
            i {
                font-size: 15px;
                color: $percentGreen;
            }
            .red {
                color: $percentRed;
            }
            .coin {
                display: flex;
                align-items: center;
                img {
                    width: 25px;
                    margin-right: 10px;
                }
                h2 {
                    font-size: 18px;
                    line-height: 21px;
                }
            }
            img {
                width: 17px;
            }
        }
    }
    &__create {
        background: $bg;
        padding: 35px 50px;
        width: 100%;
        @media (max-width: 900px) {
            padding: 35px 20px;
        }
        @media (max-width: 800px) {
            padding: 75px 20px;
        }
    }
    &__create-titles {
        border-bottom: 1px solid $border;
        padding-bottom: 30px;
        margin-bottom: 30px;
        h1 {
            font-weight: bold;
            font-size: 23px;
            line-height: 27px; 
            margin-bottom: 5px;
        }
        p {
            font-size: 15px;
            line-height: 18px;
            opacity: 0.5;
        }
    }
    &__create-selector {
        margin-bottom: 20px;
        p {
            font-size: 18px;
            line-height: 21px;
            opacity: 0.5;
            margin-bottom: 10px;
        }
        .select-container {
            &::after {
                content: url("../img/binance.png");
                position: absolute;
                left: 10px;
                top: 10px;
            }
            &::before {
                top: 15px;
            }
            select {
                padding-top: 15px;
                padding-bottom: 15px;
                padding-left: 45px;

            }
        }
        .select-container-secret {
            &::before {
                top: 15px;
            }
            select {
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }

    }
    &__create-input {
        margin-bottom: 20px;
        
        p {
            font-size: 18px;
            line-height: 21px;
            opacity: 0.5;
            margin-bottom: 10px;
        }
        input {
            background: transparent;
            font-size: 18px;
            line-height: 21px;
            color: $white;
            opacity: 1;
            background: $bg;
            border: 1px solid $border;
            box-sizing: border-box;
            border-radius: 10px;
            display: flex;
            align-items: center;
            padding: 14px 10px;
            width: 100%;
            overflow-x: auto;
            &::placeholder {
                opacity: 1;
                color: $white;
                font-size: 18px;
            }
        }
    }
    &__create-button {
        border-bottom: 1px solid $border2;
        padding-bottom: 30px;
        margin-bottom: 30px;
        .add-button {
            max-width: 250px;
            width: 100%;
            padding-right: 20px;
            padding-left: 20px;
            margin-bottom: 0;
            @media (max-width: 500px) {
                width: 100%;
                max-width: 500px;
            }
        }
    }
    &__private {
        display: flex;
        align-items: center;
        width: 100%;
        i {
            font-size: 30px;
            color: $percentGreen;
            margin-right: 5px;
        }
        p {
            font-size: 15px;
            line-height: 20px;
        }
        @media (max-width: 900px) {
            flex-direction: column;
            width: 100%;
            i {
                margin-bottom: 5px;
            }
            p {
                font-size: 14px;
            }
        }
    }
    &__how-to {
        background: $bg;
        border-radius: 10px;
        padding: 33px 50px;
        width: 100%;
        position: relative;
        transition: 0.5s;
        z-index: 99;
        h1 {
            font-weight: bold;
            font-size: 23px;
            line-height: 27px;
            text-align: center;
            margin-bottom: 20px;
        }
        @media (max-width: 1600px) {
            grid-column-start: 1;   
            grid-column-end: 3;
            padding: 20px;
        }
        @media (max-width: 800px) {
            position: fixed;
            right: 10px;
            top: 98px;
            width: 310px;
            background: $bg;
            transform: translateX(105%);
        }
        .how-to-button {
            display: none;
            @media (max-width: 800px) {
                display: block;
                position: absolute;
                left: -60px;
                top: 30px;
                &.collapsed {
                    display: none;
                }
                i {
                    font-size: 30px;
                    
                }
            }
            
        }
    }
    .how-to-wrapper {
        position: relative;
        @media (max-width: 1600px) {
            grid-column-start: 1;   
            grid-column-end: 3;
        }
    }
    &__how-to-active {
        background: $bg;
        border-radius: 10px;
        padding: 33px 50px;
        width: 100%;
        position: relative;
        transition: 0.5s;
        z-index: 99;
        
        h1 {
            font-weight: bold;
            font-size: 23px;
            line-height: 27px;
            text-align: center;
            margin-bottom: 20px;
        }
        @media (max-width: 1600px) {
            grid-column-start: 1;   
            grid-column-end: 3;
            padding: 20px;
        }
        @media (max-width: 800px) {
            position: fixed;
            right: 10px;
            top: 98px;
            width: 310px;
            background: $bg;
            transform: translateX(0);
            
            height: 90%;
            position: fixed;
            .dashboard__how-to-item {
                padding: 20px 10px;
            }
        }
        .how-to-button {
            position: absolute;
            left: 10px;
            top: 30px;
            transform: translateX(70%);
            i {
                font-size: 30px;
                
                
            }
        }
    }
    &__how-to-items {
        
        @media (max-width: 1600px) {
            display: flex;
        }
        @media (max-width: 800px) {
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            height: 85%;
            position: fixed;
        }
    }
    &__how-to-item {
        display: flex;
        padding: 30px 15px;
        border: 1px solid $border3;
        box-sizing: border-box;
        @media (max-width: 1600px) {
            border: none;
            flex-direction: column;
            h2 {
                margin-bottom: 10px;
                margin-right: 0;
            }
            img {
                margin-right: 0;
                margin-bottom: 10px;
            }
        }
        h2 {
            font-weight: bold;
            font-size: 15px;
            line-height: 18px;
            color: $text;
            background: $hover;
            padding: 9px 13px;
            border-radius: 100px;
            height: 35px;
            width: 35px;
            margin-right: 10px;
        }
        img {
            margin-right: 10px;
        }
        .titles {
            h1 {
                font-weight: bold;
                font-size: 20px;
                line-height: 23px;
                text-align: left;
                margin-bottom: 5px;
                a {
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 23px;
                    text-decoration: none;
                    color: $hover;
                }
            }
        }
    }
    .line {
        border-left: 1px dashed $border3;
        height: 60px;
        width: 1px;
        margin: 0 auto;
        @media (max-width: 1600px) {
            display: none;
        }
    }
}
    @media (max-width: 992px) {
        .dashboard__navigation .sidebar-wrapper {
            overflow-y: auto;
            height: 100%;
            position: fixed;
            background: $bodyBlack;
            }
    }