.positions {
    &__upper-content {
        margin-top: 10px;
        padding: 10px 20px;
        background: $bg;
        overflow-x: auto;
        margin-bottom: 10px;
        a {
            font-size: 17px;
            line-height: 20px;
            color: $white;
            display: flex;
            align-items: center;
            opacity: 0.5;
            white-space: nowrap;
            &:hover {
                opacity: 1;
            }
            span {
                margin-right: 5px;
                display: flex;
                align-items: center;
                i {
                    font-size: 20px;
                }
                h2 {
                    font-size: 10px;
                    color: $white;
                    background: $percentGreen;
                    border-radius: 100px;
                    padding: 4px 14px;
                    margin-left: 5px;
                }
                .close {
                    background: $percentRed;
                }
            }
        }
    }
    &__line {
        width: 1px;
        height: 30px;
        background-color: $gray3;
        margin-left: 5px;
        margin-right: 5px;
    }
    &__upper-container {
        min-width: 1500px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__table {
        background: $bg2;
        border: 1px solid $gray3;
        box-sizing: border-box;
        border-radius: 4px;
        overflow-x: auto;
        .table-grid {
            display: grid;
            min-width: 2500px;
            grid-template-columns: 1fr 0.2fr 0.1fr 0.2fr 0.1fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 1fr;
            .item {
                .title {
                    font-size: 16px;
                    background: $bg2;
                    padding: 20px;
                    height: 64px;
                    white-space: nowrap;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid $border;
                    span {
                        i {
                            font-size: 15px;
                            margin-left: 20px;
                        }
                    }
                }
                .row-1 {
                    padding: 20px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    border: 1px solid $border;
                    &.bg-green {
                        background: $bg-green1;
                    }
                    &.bg-green-1 {
                        background: $bg-green2;
                    }
                    &.bg-green-2 {
                        background: $bg-green3;
                    }
                    &.blue {
                        background: $hover;
                    }
                    &.bg-yellow {
                        background: $bgYellow;
                        color: $darkYellow;
                    }
                    h2 {
                        font-size: 14px;
                        display: flex;
                        align-items: center;
                    }
                    span {
                        margin-right: 2px;
                        display: flex;
                        img {
                            width: 18px;
                        }
                    }
                    h3 {
                        font-size: 12px;
                        color: $hover;
                    }
                    .green {
                        color: $percentGreen;
                    }
                    .red {
                        color: $percentRed;
                    }
                    i {
                        color: $white;
                    }
                }
                .row-2 {
                    padding: 20px;
                    background: $text;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    border: 1px solid rgba(242, 242, 242, 0.1);
                    &.bg-green {
                        background: $bg-green1;
                    }
                    &.bg-green-1 {
                        background: #27AE60;
                    }
                    &.bg-green-2 {
                        background: $bg-green2;
                    }
                    &.blue {
                        background: $hover;
                    }
                    &.bg-yellow {
                        background: $bgYellow;
                        color: $darkYellow;
                    }
                    h2 {
                        font-size: 14px;
                        display: flex;
                        align-items: center;
                    }
                    span {
                        margin-right: 2px;
                        display: flex;
                        img {
                            width: 18px;
                        }
                    }
                    h3 {
                        font-size: 12px;
                        color: $hover;
                    }
                    .red {
                        color: $percentRed;
                    }
                    .green {
                        color: $percentGreen;
                    }
                    i {
                        color: $white;
                    }
                }
            }
        }
    }
}