.positions{
    position: relative;
    z-index: 1;
    &__delete-modal{
        width: 575px;
        padding: 50px;
        background-color: $bg;
        position: absolute; 
        left: 50%;
        transform: translate(-50%);
        top: 50%;
        z-index: 2;
        @media (max-width: $md3+px){
            padding: 50px 25px;
            width: 329px;
        }
    }
}

.delete-modal{
    &__body{
        h2{
            font-size: 1.875rem;
            color: $white;
        }
        p{
            font-size: 1.125rem;
            color: $gray;
            margin-top: 10px;
            line-height: 25px;
        }
    }
    &__buttons{
        margin-top: 40px;
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 1fr;
        @media (max-width: $md3+px){
            grid-template-columns: 0.5fr 0.5fr;
        }
        a{
            padding: 16px 32px;
            border-radius: 10px;
            font-size: 1.125rem;
            color: $white;
            border: 1px solid $border;
            margin-right: 10px;
            transition: .3s ease all;
            &:nth-child(2){
                background-color: $percentRed;
                border: none;
                &:hover{
                    background-color: transparent;
                    border: 1px solid $border;
                }
            }
            &:nth-child(3){
                margin-right: 0;
                background-color: $hover;
                border: none;
                &:hover{
                    background-color: transparent;
                    border: 1px solid $border;
                }
                @media (max-width: $md3+px){
                    grid-column: span 2;
                    margin-top: 10px;
                    text-align: center;
                }
            }
        }
    }
}