.graph {
    img {
        min-height: 300px;
    }
}

.market-mood {
    &__title {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
            font-weight: bold;
            font-size: 20px;
            line-height: 23px;
        }
        .select-container {
            width: 147px;
        }
    }
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 5px;
        overflow-x: auto;
    }
    &__grid-item {
        background: $bg;
        padding: 30px 10px;
        text-align: center;
        width: 100%;
        min-width: 355px;
        .coin {
            margin-bottom: 20px;
            img {
                width: 108px;
            }
        }
        .exchange {
            margin-bottom: 20px;
            .coins {
                margin-bottom: 5px;
                img {
                    width: 25px;
                    margin-right: 5px;
                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }
        h2 {
            font-size: 20px;
            line-height: 23px;
            text-transform: uppercase;
            text-decoration: underline;
            margin-bottom: 5px;
        }
        p {
            font-size: 15px;
            line-height: 18px;
        }
        
    }
    &__info-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border-top: 1px solid $gray5;
        border-bottom: 1px solid $gray5;
        padding: 15px 0;
        margin-bottom: 20px;
    }
    &__info-grid-item {
        h2 {
            font-size: 15px;
            white-space: nowrap;
        }
    }
    &__buttons {
        display: flex;
        justify-content: space-between;
        padding: 0px 25px;
        .button-long {
            background: $green;
            border-radius: 10px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            text-align: center;
            color: $white;
            width: 145px;
            margin-right: 5px;
            h2 {
                text-decoration: none;
                font-weight: bold;
                font-size: 17px;
                margin: 0;
            }
            p {
                font-size: 10px;
            }
            &:hover {
                opacity: 0.5;
            }
        }
        .button-short {
            background: $percentRed;
            border-radius: 10px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            text-align: center;
            color: $white;
            width: 145px;
            h2 {
                text-decoration: none;
                font-weight: bold;
                font-size: 17px;
                margin: 0;
            }
            p {
                font-size: 10px;
            }
            &:hover {
                opacity: 0.5;
            }
        }
    }
}