.portfolio{
    &__pl-menu{
        overflow: auto;
        a{
            margin-right: 57px;
            @media (max-width: $md4+px){
                margin-right: 20px;
            }
        }
    }
}

.porfolio-pl{
    .dashboard__balance-table{
        padding: 0 20px 20px 20px;
        background-color: $bg;
        margin-bottom: 10px;
        @media (max-width: $md3+px){
            padding: 0;
        }
    }
    .social-item{
        img{
            width: 35px!important;
            height: 35px !important;
            margin: auto;
        }
    }
    .social-table{
        grid-template-columns: 0.5fr 1fr 0.5fr 1fr 0.5fr 0.5fr;
        }
        :nth-child(3){
            h2{
                color: $percentGreen;
                &:nth-child(4){
                    color: $white;
                }
            }
        }
        :nth-child(4){
            .title{
                color: $percentRed;
            }
            h3{
                color: $tableColor;
            }
        }
    .portfolio__grid{
        grid-template-columns: repeat(4, 1fr);
        :nth-child(1){
            grid-column: span 2;
            @media (max-width: $md2+px){
                grid-column: span 4;
            }
        }
        :nth-child(2){
            grid-column: span 2;
            @media (max-width: $md2+px){
                grid-column: span 4;
            }
        }
        :nth-child(3){
            grid-column: span 1;
            img{
                max-width: 210px;
            }
            @media (max-width: $md2+px){
                grid-column: span 1;
            }
        }
        :nth-child(4){
            grid-column: span 3;
        }
        .grid-item{
            padding: 34px 20px;
        }
        .item2{
            .grid-item__title{
                margin-bottom: 48px;
            }
            .title-wrapper{
                display: flex;
                justify-content: flex-start;
                h3{
                    margin-right: 10px;
                    color: $white;
                    font-size: 1.25rem;
                }
                p{
                    font-size: 0.938rem;
                    color: $percentGreen;
                    margin-top: 4px;
                }
            }
            .grid-item__subtitle{
                margin-top: 55px;
                a{
                    @media (max-width: $md3+px){
                        margin: auto 10px auto auto;
                    }
                }
                p{
                    @media (max-width: $md4+px){
                        font-size: 0.7rem;
                    }
                }
            }
        }
        .image-wrapper{
            text-align: center;
        }
        .item3{
            .title-wrapper{
                text-align: center;
                display: block;
                margin-bottom: 40px;
                h3{
                    color: $white;
                    font-size: 1.25rem;
                }
                p{
                    color: $percentRed;
                    font-size: 0.9375rem;
                    margin-top: 5px;
                }
            }
        }
        .item4{
            .title-wrapper{
                display: flex;
                justify-content: flex-start;
                margin-bottom: 45px;
                h4{
                    margin-right: 10px;
                    font-size: 1.25rem;
                    @media (max-width: $md4+px){
                        font-size: 1rem;
                    }
                }
                p{
                    color: $hover;
                    font-size: 1.25rem;
                    @media (max-width: $md4+px){
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

.item3-body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    position: relative;
    &__left{
        margin-right: 50px;
        position: relative;
        p{
            font-size: 0.938rem;
            color: $white;
            margin: auto;
        }
    }
    &__right{
        p{
            color: $white;
        }
    }
}

.grid-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 19px;
    position: relative;
    @media (max-width: $md3+px){
        display: block;
    }
    &__left{
        h3{
            font-size: 1.25rem;
        }
        p{
            font-size: 0.938rem;
            color: $percentRed;
            margin-top: 5px;
        }
    }
    &__right{
        display: flex;
        justify-content: flex-start;
        position: relative;
        @media (max-width: $md3+px){
            margin: 10px 10px 0 0;
        }
        :nth-child(1){
            margin-right: 30px;
            @media (max-width: $md3+px){
                margin-right: 20px;
            }
            &::before{
                height: 11px;
                width: 11px;
                content: '';
                background-color: $percentRed;
                position: absolute;
                border-radius: 100%;
                left: -6%;
                top: 9%;
                @media (max-width: $md3+px){
                    left: -14px;
                    top: 4px;
                }
                @media (max-width: $md4+px){
                    left: -10px;
                    top: 4px;
                    height: 7px;
                    width: 7px;
                }
            }
            &::after{
                height: 11px;
                width: 11px;
                content: '';
                background-color: $dotYellow;  
                position: absolute;
                border-radius: 100%;
                left: 46%;
                top: 9%;
                @media (max-width: $md3+px){
                    left: 150px;
                    top: 3px;
                }
                @media (max-width: $md4+px){
                    left: 110px;
                    height: 7px;
                    width: 7px;
                }
            }
        }
        p{
            color: $gray;
            @media (max-width: $md4+px){
                font-size: 0.7rem;
            }
        }
    }
}

.balance-stats{
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    background-color: $bg;
    margin-bottom: 10px;
    overflow: auto;
    @media (max-width: $md3+px){
        padding: 15px 0;
    }
    &__item{
        text-align: center;
        flex-shrink: 0;
        margin-right: 50px;
        &:last-child{
            margin-right: 0;
        }
        h3{
            color: $percentGreen;
            font-size: 1.375rem;
            font-weight: 500;
            @media (max-width: $md3+px){
                font-size: 0.8rem;
            }
        }
        p{
            color: $gray;
            font-size: 0.9375rem;
            @media (max-width: $md3+px){
                font-size: 0.8rem;
            }
        }
        &:nth-child(1){
            h3{
                color: $white;
            }
        }
        &:nth-child(3){
            p{
                &:nth-child(2){
                    color: $percentGreen;  
                }
                &:nth-child(3){
                    color: $white;
                }
            }
        }
        &:nth-child(4){
            p{
                &:nth-child(2){
                    color: $percentGreen;  
                }
                &:nth-child(3){
                    color: $white;
                }
            }
        }
        &:nth-child(5){
            p{
                &:nth-child(2){
                    color: $percentRed;  
                }
                &:nth-child(3){
                    color: $white;
                }
            }
        }
        &:nth-child(6){
            p{
                &:nth-child(2){
                    color: $percentGreen;  
                }
                &:nth-child(3){
                    color: $white;
                }
            }
        }
    }
}

.balance-search{
    display: flex;
    justify-content: space-between;
    padding: 22px 20px 12px 20px;
    background-color: $bg;
    .grid-left__input{
        input{
            width: 238px;
            @media (max-width: $md4+px){
                width: 50px;
                &::placeholder{
                    color: transparent;
                }
            }
        }
        .fad.fa-search{
            left: 88.5%;
            @media (max-width: $md4+px){
                left: 34.5%;
            }
        }
    }
}

.value-buttons{
    margin: auto 0 auto 0;
    a{
        border: 1px solid $border;
        padding: 16px;
        background-color: transparent;
        font-size: 1.125rem;
        color: $white;
        border-radius: 10px;
        transition: 0.3s all ease-out;
        &:nth-child(1){
            margin-right: 7px;
            background-color: $hover;
        }
        &:hover{
            background-color: $hover;
        }    
    }  
}

.dot{
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: $dot;
    position: absolute;
    left: -12px;
    margin: 6px 6px 0 0;
}

.dot.yellow{
    background-color: $dotYellow;
}

.dot.red{
    background-color: $dotRed;
}

.dot.black{
    background-color: $dotBlack;
}