//Header
.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: $headerHeight;
	background: $bg;
	margin-top: 10px;
	padding-left: 1vw;
	padding-right: 1vw;
	position: relative;
	position: sticky;
	top: -1px;
	z-index: 999;
	&__links {
		display: flex;
		align-items: center;
		margin-right: 2vw;
		@media (max-width: 1900px) {
			flex-direction: column;
			margin-right: 0;
		}
	}
	&__line {
		background-color: $white;
		opacity: 0.2;
		height: 18px;
		margin-bottom: 3px;
		width: 1px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 10px;
		@media (max-width: 1900px) {
			display: none;
		}
	}
	&__menu{
		display: flex;
		align-items: center;
		z-index: 3;
		margin-right: 10px;
		li{
			margin-right: 10px;
			padding: 10px 0;
			&:last-child{
				margin: 0;
				
			}
		}
		& > li{
			position: relative;
		}
		a{
			color: $white;
			display: flex;
			align-items: center;
			span {
				font-size: 14px;
				line-height: 16px;
				background: $hover2;
				border-radius: 100px;
				padding: 3px 14px;
				margin-left: 5px;
			}
			&:hover{
				color: $hover;
				text-decoration: underline;
			}
		}
		@media (max-width: 1900px) {
			display: flex;
			flex-direction: column;
			position: fixed;
			overflow-y: auto;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $bg3;
			padding: 30px 30px 30px 30px;
			left: -100%;
			transition: left 0.3s ease;
			transform: translateY($headerHeight);
			z-index: 100;
			& > li{
				padding: 0;
				margin-bottom: 10px;
				&:last-child{
					margin-bottom: 0;
				}
			}
			a{
				color: $white;
				font-size: 20px;
			}
			&.active{
				left: 0;
			}
		}
	}
	&__logo{
		max-width: 200px;
		min-width: 150px;
		margin-right: 10px;
		@media (max-width: $md3+px) {
			max-width: 120px;
		}
	}
	&__rates {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-right: 2vw;
		@media (max-width: 1900px) {
			flex-direction: column;
			margin-right: 0;
		}
	}
	&__rate {
		background: $bg4;
		border: 1px solid $border;
		box-sizing: border-box;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		padding: 5px 13px;
		margin-right: 10px;
		min-width: 135px;
		@media (max-width: 1900px) {
			margin-bottom: 10px;
			width: 100%;
			margin-right: 0;
			text-align: center;
			.price {
				margin: 0 auto;
			}
		}
		p {
			font-size: 12px;
			line-height: 14px;
		}
		.price {
			display: flex;
			flex-direction: row;
			p {
				font-size: 12px;
				line-height: 15px;
			}
			.percent-red {
				color: $percentRed;
				text-decoration: underline;
				margin-left: 5px;
			}
			img {
				width: 10px;
			}
		}
		&--green {
		background: $bg5;
		border: 1px solid $border;
		box-sizing: border-box;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		padding: 5px 13px;
		margin-right: 10px;
		min-width: 135px;
		@media (max-width: 1800px) {
			width: 100%;
			margin-bottom: 10px;
			margin-right: 0;
			text-align: center;
			.price {
				margin: 0 auto;
			}
		}
		&:last-child {
			margin-right: 0;
		}
		p {
			font-size: 12px;
			line-height: 14px;
		}
		.price {
			display: flex;
			flex-direction: row;
			p {
				font-size: 13px;
				line-height: 15px;
			}
			.percent-green {
				color: $bg-green1;
				text-decoration: underline;
				margin-left: 5px;
			}
			img {
				width: 10px;
			}
		}
		}
		
		
	}
	&__navigation {
		display: flex;
		align-items: center;
		flex-direction: row;
		@media (max-width: 1900px) {
			flex-direction: column;
			margin-right: 0;
		}
	}
	&__list, &__restore, &__wallet {
		margin-right: 10px;
		background: #25272E;
		border: 1px solid rgba(255, 255, 255, 0.1);
		box-sizing: border-box;
		border-radius: 10px;
		padding: 10px;
		display: flex;
		align-items: center;
		@media (max-width: 1900px) {
			margin-bottom: 10px;
		}
		&:last-child {
			margin: 0;
		}
		img {
			width: 20px;
		}
	}
	&__bell {
		margin-right: 10px;
		background: #25272E;
		border: 1px solid rgba(255, 255, 255, 0.1);
		box-sizing: border-box;
		border-radius: 10px;
		padding: 10px;
		display: flex;
		align-items: center;
		@media (max-width: 1900px) {
		}
		&:last-child {
			margin: 0;
		}
		img {
			width: 20px;
		}
		@media (max-width: 500px) {
			padding: 7px;
			img {
				width: 15px;
			}
		}
	}
	&__balance {
		background: rgba(111, 207, 151, 0.3);
		border: 1px solid rgba(255, 255, 255, 0.1);
		box-sizing: border-box;
		border-radius: 10px;
		padding: 4px 10px;
		display: flex;
		margin-right: 10px;
		@media (max-width: 1900px) {
			margin-right: 0;
			margin-bottom: 10px;
		}
		.balance-inner {
			display: flex;
			align-items: center;
			justify-content: center;
			img {
				width: 22px;
				margin-right: 10px;
			}
			p {
				font-size: 14px;
			}
			.coin {
				margin-right: 10px;
				&:last-child {
					margin: 0;
				}
				.green-coin {
					color: #6FCF97;
				}
			}
		}
	}
	&__exclamation {
		background: #EB5757;
		border: 1px solid rgba(255, 255, 255, 0.1);
		box-sizing: border-box;
		border-radius: 10px;
		padding: 10px;
		margin-right: 10px;
		img {
			width: 22px;
		}
		@media (max-width: 500px) {
			padding: 5px;
			img {
				width: 20px;
			}
		}
	}
	&__account {
		display: flex;
		align-items: center;
		@media (max-width: 500px) {
			.account {
				width: 30px;
			}
		}
	}
	&__items-right {
		display: flex;
		align-items: center;

	}
}

//Burger
.icon-menu {
	display: none;
	@media (max-width: 1900px) {
		display: flex;
		position: relative;
		height: 18px;
		cursor: pointer;
		
		border-radius: 10px;
		z-index: 5;
		justify-content: center;
		span, &:before, &:after{
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 11px;
			position: absolute;
			width: 17px;
			height: 2px;
			background-color: #fff;
			
		}
		&:before, &:after{
			content : " ";
			
		}
		&:before {
			top: 0px;
		}
		&:after {
			top: auto;
			bottom: 0px;
		}
		span {
			background-color: #828282;
		}
		
	}
}

.menu-container {
	display: none;
	&.active .icon-menu {
		span {
			transform: scale(0);
			background-color: #fff;
		}
		&:before {
			transform: rotate(-45deg);
			top: calc(50% - 1px);
			background-color: #fff;
		}
		&:after {
			transform: rotate(45deg);
			bottom: calc(50% - 1px);
			background-color: #fff;
		}
	}
	@media (max-width: 1900px) {
		display: flex;
		text-align: left;
		align-items: center;
		height: 18px;
		border: 1px solid  #828282;
		border-radius: 10px;
		width: 40px;
		height: 40px;
		&.active {
			border-color: #828282;
		}
	}
}


