.settings-header{
	h2{
		font-size: 25px;
		font-weight: bold;
	}
	&__top-row{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 10px 0;
	}
	input[type="search"]::-webkit-search-decoration,
	input[type="search"]::-webkit-search-cancel-button,
	input[type="search"]::-webkit-search-results-button,
	input[type="search"]::-webkit-search-results-decoration {
		-webkit-appearance:none;
	}
	&__search{
		display: flex;
		padding: 10px 20px;
		padding-left: 0;
		border: 1px solid $border9;
		border-radius: 10px;
		max-width: 240px;
		width: 100%;
		@media(max-width: $md4+px) {
			max-width: 50px;
			align-items: center;
			justify-content: center;
			height: 50px;
			padding: 0;
		}
		input{
			background: transparent;
			padding-left: 20px;
			color: $white;
			width: 100%;
			box-sizing: border-box;
			@media(max-width: $md4+px) {
				display: none;
			}
			&::placeholder{
				color: $white;
				opacity: 0.5;
			}
		}
	}
	&__menu{
		background: $bg;
		padding: 24px 20px;
		display: flex;
		align-items: center;
		overflow: auto;
		margin-bottom: 10px;
		a{
			font-size: 17px;
			color: $white;
			display: block;
			margin-right: 20px;
			transition: .3s ease;
			white-space: nowrap;
			&.active,&:hover{
				color: $hover;
				text-decoration: underline;
			}
		}
	}
}