.portfolio {
    &__profile {
        margin-top: 10px;
        background: #25272E;
        padding: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 700px) {
            justify-content: center;
            flex-direction: column;
            padding: 20px;
            .items-left {
                margin-bottom: 20px;
                .info {
                    p {
                        font-size: 11px;
                    }
                }
            }
            
        }
        .items-left {
            display: flex;
            align-items: center;
            .icon {
                margin-right: 10px;
                position: relative;
                img {
                    width: 107px;
                }
                .online {
                    width: 25px;
                    position: absolute;
                    bottom: 0px;
                    right: 5px;
                }
            }
            .info {
                h1 {
                    font-size: 20px;
                    margin-bottom: 5px;
                }
                .followers {
                    color: $hover; 
                    font-size: 15px;
                    margin-bottom: 5px;
                }
                p {
                    font-size: 15px;
                    color: $white;
                    span {
                        margin-right: 5px;
                        i {
                            color: $hover;
                        }
                    }
                }
            }
        }
        .items-right {
            display: flex;
            align-items: center;
            .user-check {
                margin-right: 10px;
                background: $bg;
                border: 1px solid $border;
                box-sizing: border-box;
                border-radius: 10px;
                padding: 10px;
                i {
                    color: $hover;
                }
            }
            a {
                font-size: 18px;
                background: $hover;
                border: 1px solid $border;
                box-sizing: border-box;
                border-radius: 10px;
                padding: 10px;
                color: $white;
                span {
                    margin-right: 10px;
                }
            }
        }
    }
    &__menu {
        padding: 21px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $border;
        margin-bottom: 10px;
        @media (max-width: 700px) {
						justify-content: flex-start;
            a {
                font-size: 14px;
            }
        }
        a {
            font-size: 15px;
            color: $white;
            opacity: 0.5;
            display: flex;
            align-items: center;
            margin-right: 2vw;
            &:last-child {
                margin: 0;
            }
            span {
                margin-right: 10px;
                i {
                    font-size: 25px;
                }
            }
            &:hover {
                color: $hover;
                opacity: 1;
            }
        }
    }
}